{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block busqueda %} 
    <form class="form-inline my-2 my-lg-0">
        {{ form(form) }}
    </form>
{% endblock busqueda %}

{% block titulo_panel %} Listado de usuarios {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="/usuario/new" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    {% if usuarios %}
        <table class="table table-striped" id="usuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Persona</th>
                    <th>Acciones</th>
                </tr>   
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>    
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.persona.nombres }} {{ usuario.persona.apellidos }}</td>
                        <td>
                            <a class="btn btn-info" href="/usuario/{{ usuario.id }}"><span class="fas fa-eye"></span> Ver</a>
                            <a class="btn btn-primary" href="/usuario/edit/{{ usuario.id }}"><span class="fas fa-edit"></span> Editar</a>
                            <a class="btn btn-danger delete-usuario" href="#" data-id="{{ usuario.id }}"><span class="fas fa-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Persona</th>
                    <th>Acciones</th>
                </tr>   
            </tfoot>
        </table>
    {% else %}
        <p>No hay registros para visualizar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#usuarios').dataTable();
            $('.select2').select2();
        });

        function buscar_actividad() {
            var valor = $("#form_actividad").val();
            window.location.replace("/actividad/"+valor);
        }
    </script>
    <script src="/js/main.js"></script>
{% endblock %}
