{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block titulo_panel %} Listado de categorias {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="/categoria/new" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    {% if categorias %}
        <table class="table table-striped" id="categorias">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Acciones</th>
                </tr>   
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>    
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>
                            <a class="btn btn-info" href="/categoria/{{ categoria.id }}"><span class="fas fa-eye"></span> Ver</a>
                            <a class="btn btn-primary" href="/categoria/edit/{{ categoria.id }}"><span class="fas fa-edit"></span> Editar</a>
                            <a class="btn btn-danger delete-categoria" href="#" data-id="{{ categoria.id }}"><span class="fas fa-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay registros para visualizar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
