{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block busqueda %} 
    <form class="form-inline my-2 my-lg-0">
        {{ form(form) }}
    </form>
{% endblock busqueda %}

{% block titulo_panel %} Listado de categorias {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="{{ url('new_categoria') }}" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    {% if categorias %}
        <table class="table table-striped" id="categorias">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Acciones</th>
                </tr>   
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>    
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ url('ver_categoria', {'id': categoria.id}) }}"><span class="fas fa-eye"></span> Ver</a>
                            <a class="btn btn-primary" href="{{ url('edit_categoria', {'id': categoria.id}) }}"><span class="fas fa-edit"></span> Editar</a>
                            <a class="btn btn-danger delete-categoria" href="#" data-id="{{ categoria.id }}"><span class="fas fa-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Acciones</th>
                </tr>   
            </tfoot>
        </table>
    {% else %}
        <p>No hay registros para visualizar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#categorias').dataTable();
            $('.select2').select2();
        });
        
        function buscar_actividad() {
            var valor = $("#form_actividad").val();
            var url = '{{ path("ver_actividad", {'id': 'valor'}) }}'; 
            url = url.replace("valor", valor);
            window.location.replace(url);
        }

        const categorias = document.getElementById('categorias');

        if (categorias) {
            categorias.addEventListener('click', (e) => {
                if (e.target.className === 'btn btn-danger delete-categoria') {
                    if (confirm('¿Está seguro?')) {
                        const id = e.target.getAttribute('data-id');
                        var url = '{{ path("delete_categoria", {'id': 'valor'}) }}'; 
                        url = url.replace("valor", id); 
                        fetch(url, {
                            method: 'DELETE'
                        }).then(res => window.location.reload());
                    }
                }
            });
        }
    </script>
    <script src="/js/main.js"></script>
{% endblock %}
