{% extends 'base.html.twig' %}

{% block title %}Personas{% endblock %}

{% block titulo_panel %} Listado de personas {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="#"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    {% if personas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>   
            </thead>
            <tbody>
                {% for persona in personas %}
                    <tr>    
                        <td>{{ persona.id }}</td>
                        <td>{{ persona.nombres }}</td>
                        <td>{{ persona.apellidos }}</td>
                        <td>{{ persona.email }}</td>
                        <td>
                            <a class="btn btn-info" href="/persona/{{ persona.id }}"><span class="fas fa-eye"></span> Ver</a>
                            <a class="btn btn-primary" href="#"><span class="fas fa-edit"></span> Editar</a>
                            <a class="btn btn-danger" href="#"><span class="fas fa-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay registros para visualizar</p>
    {% endif %}
{% endblock %}
