{% extends 'base.html.twig' %}

{% block title %}Personas{% endblock %}

{% block titulo_panel %} Información de la persona {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="/persona/new" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    <table class="table table-striped table-bordered">
        <tr>    
            <td><b>ID:</b> {{ persona.id }}</td>
        </tr>
        <tr>
            <td><b>Nombres:</b> {{ persona.nombres }}</td>
        </tr>
        <tr>    
            <td><b>Apellidos:</b> {{ persona.apellidos }}</td>
        </tr>
        <tr>    
            <td><b>Email:</b> {{ persona.email }}</td>
        </tr>
    </table>
    <a href="{{ url('persona_list') }}"><span class="fas fa-arrow-left"></span>Volver a la lista</a>
{% endblock %}
