{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block titulo_panel %} Listado de actividades {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="/actividad/new" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    {% if actividades %}
        <table class="table table-striped" id="actividades">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>   
            </thead>
            <tbody>
                {% for actividad in actividades %}
                    <tr>    
                        <td>{{ actividad.id }}</td>
                        <td>{{ actividad.nombre }}</td>
                        <td>{{ actividad.descripcion }}</td>
                        <td>{{ actividad.categoria.nombre }}</td>
                        <td>{% if actividad.estado == '0' %} PENDIENTE {% else %} REALIZADA {% endif %}</td>
                        <td>
                            <a class="btn btn-info" href="/actividad/{{ actividad.id }}"><span class="fas fa-eye"></span> Ver</a>
                            <a class="btn btn-primary" href="/actividad/edit/{{ actividad.id }}"><span class="fas fa-edit"></span> Editar</a>
                            <a class="btn btn-danger delete-actividad" href="#" data-id="{{ actividad.id }}"><span class="fas fa-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay registros para visualizar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#actividades').dataTable()
        });
    </script>
    <script src="/js/main.js"></script>
{% endblock %}
