{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block busqueda %} 
    <form class="form-inline my-2 my-lg-0">
        {{ form(form) }}
    </form>
{% endblock busqueda %}

{% block titulo_panel %} Listado de actividades {% endblock titulo_panel %}
{% block botones_panel %} <a class="btn btn-success" href="{{ url('new_actividad') }}" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a> {% endblock botones_panel %}

{% block contenido_panel %}
    {% if actividades %}
        <table class="table table-striped" id="actividades">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>   
            </thead>
            <tbody>
                {% for actividad in actividades %}
                    <tr>    
                        <td>{{ actividad.id }}</td>
                        <td>{{ actividad.nombre }}</td>
                        <td>{{ actividad.descripcion }}</td>
                        <td>{{ actividad.categoria.nombre }}</td>
                        <td>{% if actividad.estado == '0' %} PENDIENTE {% else %} REALIZADA {% endif %}</td>
                        <td>
                            <a class="btn btn-info" href="{{ url('ver_actividad', {'id': actividad.id}) }}"><span class="fas fa-eye"></span> Ver</a>
                            <a class="btn btn-primary" href="{{ url('edit_actividad', {'id': actividad.id}) }}"><span class="fas fa-edit"></span> Editar</a>
                            <a class="btn btn-danger delete-actividad" href="#" data-id="{{ actividad.id }}"><span class="fas fa-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>   
            </tfoot>
        </table>
    {% else %}
        <p>No hay registros para visualizar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#actividades').dataTable();
            $('.select2').select2();
        });
        
        function buscar_actividad() {
            var valor = $("#form_actividad").val();
            var url = '{{ path("ver_actividad", {'id': 'valor'}) }}'; 
            url = url.replace("valor", valor);
            window.location.replace(url);
        }

        const actividades = document.getElementById('actividades');
        if (actividades) {
            actividades.addEventListener('click', (e) => {
                if (e.target.className === 'btn btn-danger delete-actividad') {
                    if (confirm('¿Está seguro?')) {
                        
                        const id = e.target.getAttribute('data-id');
                        var url = '{{ path("delete_actividad", {'id': 'valor'}) }}'; 
                        url = url.replace("valor", id); 
                        fetch(url, {
                            method: 'DELETE'
                        }).then(res => window.location.reload());
                    }
                }
            });
        }
    </script>
    <script src="/js/main.js"></script>
{% endblock %}
